body{
    background: #eeeef0;
}
.main{
     background: #fff;
    font-size: 1.2rem;
 }
.top-bar{
    position: relative;
    height: 60px;
    background: #1b95d4;
    color: #fff;
}
.top-bar h3{
    font-size: 2.1rem;
    line-height: 60px;
    text-align: center;
}
.top-bar-rebtn{
    position: absolute;
    width: 43px;
    height: 60px;
    left: 0px;
    top: 0px;
    background: url(../images/icon-rebtn.png) no-repeat center;
    background-size: 11px 17px;
}
.top-call-back{
    position: absolute;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 0px;
    background: url(../images/Customer-service.png) no-repeat center;
    background-size: 21px 33px;
}
.login-font{
    position: absolute;
    width: 60px;
    height: 60px;
    right: 0px;
    top: 0px;
    line-height: 60px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}
/*图标*/
.icon-appointment{
    float: left;
    display:block;
    background: url(../images/icon-right.png) center no-repeat;
    background-size: 16px 16px;
    height: 18px;
    width: 26px;
}
.icon-plate{
     float: left;
     display:block;
     background: url(../images/icon-plate.png) center no-repeat;
     background-size: 16px 16px;
     height: 62px;
     width: 26px;
 }
.icon-Discount{
    float: left;
    display:block;
    background: url(../images/icon-Discount.png) center no-repeat;
    background-size: 16px 16px;
    height: 40px;
    width: 26px;
}
.color-o{
    background: #f5a500;
}
.color-g{
    background: #8dc21f;
}
/*焦点轮播*/
.slider{display:none}/*用于获取更加体验*/
.focus span{width:10px;height:10px;margin-right:10px;border-radius:50%;background:#666;font-size:0}
.focus span.current{background:#fff}
/*关于小强*/
/*关于小强*/
.about-box-rebtn{
    position: absolute;
    width: 60px;
    height: 48px;
    right: 0px;
    top: 0px;
    background: url(../images/icon-aw.png) no-repeat center;
    background-size: 10px 18px;
}
.about-box{
    position: relative;
    height: 48px;
    line-height: 48px;
    font-size: 1.4rem;
    color: #7c7c7c;
}
.about-box p{
    position: absolute;
    left: 54px;
    top: 0;
}
.about-box .icon{
    position: absolute;
    width: 60px;
    height: 48px;
    left: 0;
    top: 0;

}
.about-box .icon-bg-we{
    background: url(../images/icon-we.png) no-repeat center;
    background-size: 17px 15px;
}
.about-box .icon-bg-pw{
    background: url(../images/icon-pw-2.png) no-repeat center;
    background-size: 17px 15px;
}
.about-box .icon-bg-fb{
    background: url(../images/icon-feedback.png) no-repeat center;
    background-size: 17px 15px;
}
.about-box .icon-bg-map{
    background: url(../images/icon-map.png) no-repeat center;
    background-size: 17px 15px;
}
.about-box .icon-bg-hp{
    background: url(../images/icon-help.png) no-repeat center;
    background-size: 17px 15px;
}
.version-box{
    position: absolute;
    left: 0;
    bottom: 0;
    width:100%;
    height: 66px;
    background: #efefef;
}
.version-box .tips{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 16px;
    margin: auto;
    text-align: center;
    line-height: 16px;
    font-size: 1.2rem;
}
/*机场停车订单确认页面临时属性*/
.main-box .box-day{
    border-top: 1px solid #d4d4d4;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    margin-right: 12px;
}
.foot-btn .ljqw-btn{

}
