.main-box{
    position: relative;
    width: 96%;
    margin:0 auto 6px;
    background: #fff;
    font-size: 1.2rem;
}
.main-box>div{
    margin-left:12px ;
}
.order-tip{
    width: 90%;
    margin: 0 auto;
    height: 26px;
    line-height: 25px;
    font-size: 1.2rem;
}
.box-tip{
    position: absolute;
    top:0;
    left:0;
    height:64px;
    line-height: 64px;
}
.box-tip .txt{
    height: 20px;
    line-height: 46px;
}
.font-c9{
    color:#ffa910;
}
.btn-box{
    display: block;
    float: right;
    margin-right: 5px;
    width:40px;
    height: 64px;
    text-align: center;
}
.btn-box .lx-btn{
    display: block;
    margin: 5px auto;
    width: 30px;
    height: 46px;
    background: url(../images/icon-call-1.png) center no-repeat;
    background-size: 28px 28px;
}
.btn-box .dh-btn{
    display: block;
    margin: 5px auto;
    width: 30px;
    height: 46px;
    background: url(../images/icon-nav-1.png) center no-repeat;
    background-size: 28px 28px;
}
.btn-box p{
    display: block;
    width: 60px;
    -webkit-transform: scale(0.6);
    font-size: 8px;
    margin-left: -10px;
    margin-top: -15px;
    color: #989898;
}
/*停车时间*/
.box-title{
    margin-right: 12px;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #dcdcdc;
}
.box-content{
    margin:10px auto;
}
.box-content p{
    margin-top: 5px;;
}
/*按钮*/
.foot-btn{
    position: absolute;
    left: 0;
    bottom: 72px;
    width: 100%;
    margin-top: 20px;
    font-size: 1.2rem;
}
.foot-btn .leave-btn{
    position: absolute;
    top: 0;
    left: 10%;
    display: block;
    width: 120px;
    height: 36px;
    border-radius: 5px;
    background: #97cc17;
    color: #fff;
    line-height: 36px;
    text-align: center;
}
.foot-btn .pay-btn{
     position: absolute;
     top: 0;
     right: 10%;
     display: block;
     width: 120px;
     height: 36px;
     border-radius: 5px;
     background: #009fe8;
     color: #fff;
     line-height: 36px;
     text-align: center;
 }
.foot-btn .ljqw-btn{
    margin: 0 auto;
    display: block;
    width: 120px;
    height: 36px;
    border-radius: 5px;
    background: #009fe8;
    color: #fff;
    line-height: 36px;
    text-align: center;
}