html,body{
    font-family:"Microsoft YaHei";
    font-size: 62.5%;
}
html{
    height: 100%;
    -webkit-box-sizing:border-box

}
body{
    position: relative;
    overflow-x: hidden;
    overflow-scrolling: touch;
    height: 100%;
    -webkit-box-sizing:border-box;
    color: #707070;

}
html,body,div,ul,ol,dl,li,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input,abbr,article{
    margin: 0px;
    padding: 0px;
}
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,em,strong,th,figcaption{
    font-weight: normal;
    font-style: normal;
}
ul,li,dl,dt,dd,dt{
    list-style: none;
}
figcaption,iframe,img{
    border: 0;
}
/*input[type="text"]{
    background-position-y: -1px;
}*/
i,cite,em,var,address{
    font-style: normal;
}
a{
    outline: hidden;
    text-decoration: none;
}
a:visited{
    text-decoration: none;

}
a:active{
    outline: hidden;
    text-decoration: none;
}
*{
    -webkit-tap-highlight-color:rgba(255,0,0,0);
}
b,strong{
    font-weight:bold;
}
input{
    color: #707070;
    border: 1px solid #9c9c9c;
    border-radius: 2px;
}
input[type=reset]{
    color: #707070;
    background: none;
}
input[type=submit]{
    color: #707070;
    background: none;
}
textarea {resize: none;-webkit-appearance: none; /*强制去除textarea自带的样式*/}
/*清除浮动*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden; }
.clearfix {
    zoom: 1;
}
.clearfix{display:inline-table;}/* Hides from IE-mac \*/
* html .clearfix{height:1%;}
.clearfix{display:block;}/* End hide from IE-mac */
*+html .clearfix{min-height:1%;}/* IE7 */
@media screen and (max-device-width:320px){
    body{
        -webkit-text-size-adjust: none;
    }
}
@media screen and (max-device-width:480px){
    body{
        -webkit-text-size-adjust: none;
    }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2){
    body{
        -webkit-text-size-adjust: none;
    }
}
@media only screen and (min-device-width:768px) and (max-device-width: 1024px){
    body{
        -webkit-text-size-adjust: none;
    }
}
/*文字样式处理*/
.text-nowrap{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.fl{
    float: left;
}
.fr{
    float: right;
}